 @font-face {
  font-family: "InterBold";
  src: url("./fonts/Inter-Bold.ttf");
 }

 @font-face {
  font-family: "InterMedium";
  src: url("./fonts/Inter-Medium.ttf");
 }
 
 * {
  background-color: #10141d;
  color: white;
 }